<% @title = t 'activerecord.models.transportation.one' %>
<section class="product-header">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/"><%= t 'home' %></a></li>
          <li class="breadcrumb-item active"><%= @title %></li>
        </ol>
      </div>
      <div class="col-12">
        <h2>
          <span><%= @title %></span>
        </h2>
      </div>
    </div>
  </div>
</section>
