<span class="phone-numbers-whatsapp-link">
  <% if params[:locale] == 'pt-BR' %>
    (67) 3255-3535 / (67) 9 9931-8257
    <a class="whatsapp-link" target="_blank" href="https://wa.me/5567999318257?text=Oi!%20Tudo%20bem?%20Estou%20no%20site%20da%20H2O.">
      <i class="fab fa-whatsapp"></i>
    </a>
  <% else %>
    +55 (67) 3255-3535 / +55 (67) 9 9931-8257
    <a class="whatsapp-link" target="_blank" href="https://wa.me/5567999318257?text=Hello!%20I'm%20on%20H2O's%20website.">
      <i class="fab fa-whatsapp"></i>
    </a>
  <% end %>
</span>
