<%
  facebook_link = 'https://www.facebook.com/bonitoepantanal/'
  instagram_link = 'https://www.instagram.com/h2o_ecoturismo/'
  trip_advisor_link = 'https://www.tripadvisor.com/Attraction_Review-g303349-d11674890-Reviews-H2O_Ecoturismo_e_Eventos-Bonito_State_of_Mato_Grosso_do_Sul.html'
%>
<ul class="social">
  <li class="mb-2">
    <a href="<%= facebook_link %>"><i class="fab fa-facebook-f"></i></a>
  </li>
  <li class="mb-2">
    <a href="<%= instagram_link %>"><i class="fab fa-instagram"></i></a>
  </li>
</ul>
<ul class="social">
  <li class="mb-2">
    <a href="<%= trip_advisor_link %>"><i class="fab fa-tripadvisor"></i></a>
  </li>
  <li class="mb-2">
    <a href="<%= blogs_path %>"><i class="fab fa-blogger-b"></i></a>
  </li>
</ul>
