<!-- header area -->
<section class="header">
<div class="container">
<div class="row">
  <div class=" col-md-2 logo"><img src="/assets/tour_images/logo.png"></div>
  <div class="col-md-10">
    <div class="row search-col">
      <div class="col-md-5">
        <input type="search" class="form-control search" placeholder="Search..">
      </div>
      <div class="col-md-2 call"> +55 (67) 3255-3535<br>
        +55 (67) 9 9931-8257 </div>
      <div class="col-md-5 text-right login"> <a class="cart" href=""><img src="/assets/tour_images/cart.png"> Cart</a>
        <button type="button" class="btn btn-outline-primary">Log in</button>
        <button type="button" class="btn btn-primary">Sign up</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><img src="/assets/tour_images/menu.png"></span> </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
          <div class="navigation">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Day by day suggestions</a></li>
              <li><a href="">Special deals</a></li>
              <li><a href="">Tours</a></li>
              <li><a href="">Hotels</a></li>
              <li><a href="">Events</a></li>
              <li><a href="">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 flag text-right"> <a href=""><img src="/assets/tour_images/icon-1.png"></a> <a href=""><img src="/assets/tour_images/icon-2.png"></a> </div>
    </div>
  </div>
</div>
</section>
<!-- end: .header -->