<footer class="footer">
  <div class="footer_big">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget text_widget"> <img class="footer_logo" src="/assets/tour_images/logo.png" alt="logo"> </div>
          <!-- ends: .widget --> 
        </div>
        <!-- ends: .col-lg-3 -->
        
        <div class="col-lg-2 col-md-6 col-sm-6 d-flex justify-content-lg-center">
          <ul class="links">
            <li><a href="#">Bonito Ecotel</a></li>
            <li><a href="#">Arrival Information</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
        <!-- ends: .col-lg-2 -->
        
        <div class="col-lg-2 col-md-6 col-sm-6 d-flex justify-content-lg-center">
          <ul class="links">
            <li><a href="#">High Season</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">H2O Staff</a></li>
            <li><a href="#">Categories</a></li>
          </ul>
        </div>
        <!-- ends: .col-lg-3 -->
        
        <div class="col-lg-2 col-md-6 col-sm-6">
          <ul class="links">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Cancelation Policy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <!-- ends: .col-lg-2 -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <ul class="links">
            <li><a href="#">Benefits</a></li>
            <li><a href="#">H2O Blog</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>
        <!-- ends: .col-lg-2 --> 
        
      </div>
      <div class="row mb30">
        <div class="col-md-3">&nbsp;</div>
        <div class="social">
          <div class="follow">Follow us</div>
          <ul class="d-flex flex-wrap">
            <li><a href="#"><img src="/assets/tour_images/facebook.png"></a></li>
            <li><a href="#"><img src="/assets/tour_images/insta.png"></a></li>
            <li><a href="#"><img src="/assets/tour_images/Group 22.png"></a></li>
            <li><a href="#"><img src="/assets/tour_images/b.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ends: .footer__big -->
  <div class="footer_small text-center">
    <p>© 2019 - Agência H2O<br>
      Bonito MS Brazil - All Rights Reserved</p>
  </div>
  <!-- ends: .footer__small --> 
</footer>
<footer class="footer-mobile">
  <div class="footer_big">
    <div class="container">
      <div class="row mb30">
        <div class="col-md-3">&nbsp;</div>
        <div class="social col-md-12">
          <ul class="">
            <li><a href="#"><img src="/assets/tour_images/facebook.png"></a></li>
            <li><a href="#"><img src="/assets/tour_images/insta.png"></a></li>
            <li><a href="#"><img src="/assets/tour_images/Group 22.png"></a></li>
            <li><a href="#"><img src="/assets/tour_images/b.png"></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <ul class="links">
            <li><a href="#">Bonito Ecotel</a></li>
            <li><a href="#">Arrival Information</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">High Season</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">H2O Staff</a></li>
            <li><a href="#">Categories</a></li>
          </ul>
        </div>
        <!-- ends: .col-lg-2 -->
        
        <div class="col-md-6 ">
          <ul class="links">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Cancelation Policy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Benefits</a></li>
            <li><a href="#">H2O Blog</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>
        <!-- ends: .col-lg-3 --> 
        
      </div>
    </div>
  </div>
  <!-- ends: .footer__big -->
  <div class="footer_small text-center">
    <p>© 2019 - Agência H2O<br>
      Bonito MS Brazil - All Rights Reserved</p>
  </div>
  <!-- ends: .footer__small --> 
</footer>