<tr bgcolor="#e6e6e6">
  <td colspan="2" valign="middle" align="center" style="padding: 2% 4% 2% 4%;">
    <img valign="middle" src="https://admin.h2oecoturismo.com.br/files/arquivos/email-ta-pt_71357271.png" width="10%;" style="margin: 0 2% 0 2%;">
    <img valign="middle" src="https://admin.h2oecoturismo.com.br/files/arquivos/email-google_74090642.png" width="10%;" style="margin: 0 2% 0 2%;">
    <img valign="middle" src="https://admin.h2oecoturismo.com.br/files/arquivos/email-facebook_98898263.png" width="10%;" style="margin: 0 2% 0 2%;">
    <img valign="middle" src="https://admin.h2oecoturismo.com.br/files/arquivos/email-h2o-eco-ex-green-long_04296167.png" width="25%;" style="margin: 0 2% 0 2%;">
    <img valign="middle" src="https://admin.h2oecoturismo.com.br/files/arquivos/email-h2o-melhor-preco_66810436.png" width="10%;" style="margin: 0 2% 0 2%;">
  </td>
</tr>
