<tr bgcolor="#ffe57d">
  <td colspan="2" valign="middle" align="center" style="padding: 2% 2% 2% 2%;">
    <div style="font-family:Arial;">
      <b>STATUS:</b> <%= t 'cart_mailer.reservations_confirmed' %>
    </div>
  </td>
</tr>
