<div style="color:black;font-family:Arial;letter-spacing:2px;margin-top: 1%;">
  <b><%= t 'cart_mailer.h2o_staff' %></b>
</div>
<div style="color:grey;font-family:Arial;">
  reservas@h2oecoturismo.com.br
</div>
<div style="color:grey;font-family:Arial;">
  +55 (67) 3255-3535
</div>
